{
    "rules": {
      "no-undef": "off",
      "react/no-unknown-property": ["off", { "ignore": ["download"] }],
      "react/react-in-jsx-scope":"off"
    },
    "extends": [
      "plugin:react/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
      }
    }
  }
  